<section class="ftco-section contact-section" style="margin-bottom: 90px;">
  <div class="container">
    <div class="row">
      <section class="container">
        <div class="row blog-entries element-animate">
          <div class="col-md-12 main-content" style="padding-left: 10px;">
            <h1 class="mb-4">Опис кімнати</h1>
              <table style="width: 100%;margin-top: 5%;">
                <tr>
                  <td style="width:25%;"><h4>
                    Поверх
                  </h4></td>
                  <td>
                    <div class="text-info">{{room.floor}}</div></td>
                </tr>
                <tr>
                  <td style="width:25%;"><h4>
                    Номер кімнати
                  </h4></td>
                  <td>
                    <div class="text-info">{{room.number}}</div>
                  </td>
                </tr>
                <tr>
                  <td style="width:25%;"><h4>
                    Галерея
                  </h4></td>
                  <td>
                    <ul>
                      <li *ngFor="let photo of room.photo">
                        <img src="http://localhost:8080/rooms/images/{{photo}}"
                             alt="image"
                             style="height: 40%; width:40%"/>
                      </li>
                    </ul></td>
                </tr>
                <tr>
                  <td style="width:25%;"><h4>
                    Ціна за одну ніч
                  </h4></td>
                  <td>
                    <div class="text-info">{{room.pricePerNight}}</div></td>
                </tr>
                <tr>
                  <td style="width:25%;"><h4>
                    Кількість спальних місць
                  </h4></td>
                  <td>
                    <div class="text-info">{{room.bed}}</div></td>
                </tr>
                <tr>
                  <td style="width:25%;"><h4>
                    Опис
                  </h4></td>
                  <td>
                    <div class="text-info">{{room.description}}</div></td>
                </tr>
              </table>
          </div>
          <div class="col-md-12">
            <div style="display: inline-block; box-shadow: 0 0 10px rgba(0,0,0,0.5); padding: 20px; margin: 20px;">
            <a routerLink="/booking/{{room.id}}">Забронювати</a>
          </div>
            <div style="display: inline-block; box-shadow: 0 0 10px rgba(0,0,0,0.5); padding: 20px; margin: 20px;">
              <a *ngIf="isAdmin" routerLink="/editroom/{{room.id}}">Редагувати
              </a>
            </div>
            <div style="display: inline-block; box-shadow: 0 0 10px rgba(0,0,0,0.5); padding: 20px; margin: 20px;">
              <a *ngIf="isAdmin" (click)="delete()">
                Видалити
              </a>
            </div>
          </div>

        </div>
      </section>
    </div>
  </div>
</section>
