body {
  font-family: 'Abril Fatface', cursive;
}

#promo {
  text-align: center;
  padding: 40px;
  background: url(../../assets/img/dom-na-skale.jpg) no-repeat;
  background-size: cover;
  margin-top: 61px;
}

#promo .jumbotron {
  border-radius: 50px;
  background-color: rgba(156,141,188,0.5);
  padding: 40px;
  max-width: 1560px;
  margin: 0 auto;
  margin-left: 100px;
  margin-right: 100px;
}

.jumbotron p {
  font-size: 20px;
}

.site-section {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  padding: 50px 0 60px;
}

.site-section h1 {
  margin-bottom: 30px;
  font-size: 35px;
  color: rgb(45,26,120);
}

#welcome p {
  font-size: 20px;
  margin: 0 auto;
}

.footer-dark {
  padding: 50px 0;
  color: #220d77;
  background-color: #84bde9;
}

